.thumbnail {
  width: 100%;
  border-radius: 8px;
  border: yellow 2px solid;
  box-shadow: yellow 0px 4px 12px;
  margin: auto;
  object-fit: cover;
  max-height: 200px;
}

.Post {
  padding: 2em;
  width: 340px;
  height: 200px;
  margin: auto;
}

.img-container {
  position: relative;
}

.likes {
  padding: 1px;
  position: absolute;
  background-color: yellow;
  right: 0.5em;
  top: 0.5em;
  width: 36px;
  color: orangered;
  height: 36px;
  text-align: center;
  border-radius: 50%;
  font-size: 15px;
  font-weight: 400;
  border: solid 1px orange;
}
